.mydiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}


.images img {
    height: 500px;
}

.hero-img {
  height:120px;
  object-fit: contain;
}

body {
    background-color: rgb(235, 161, 161); /* Set the background color to black */
    display: flex; /* Enable Flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    margin: 0; /* Remove default margin */
    color: white;
    font-family: Arial, sans-serif;
    flex-direction: column;
  }
  #title {
    background-color: white;
    color: black;
    flex-direction: row;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
  .flex-container > div {
    color: white;
    width: 100px;
    margin: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
  }
  

  .skibi {
    width: fit-content;
    padding: 10px;
    text-align: center;
  }
  .skibi:hover {
    background-color:rgba(241, 210, 225, 0.424);
  }

  a {
    text-decoration: none; /* Removes underline */
    color: rgb(245, 227, 235); /* Sets the default link color */
  }
  
  a:visited {
    color: rgb(245, 227, 235); /* Ensures the color stays the same after clicking */
  }
  
