.mydiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}


.image-container img {
    height: 500px;
    cursor:pointer;

}

.image-container img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 6px 6px rgba(190, 94, 121, 0.266);
}

.hero-img {
  height:120px;
  object-fit: contain;
  border-radius: 10%;
}

.hero-img:hover {
  transition: all 0.3s ease;
  transform: scale(1.20);
}

body {
    background-color: rgba(255,240,243,255);
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 0; 
    color: rgba(229,134,165,255);
    font-family: Arial, sans-serif;
    flex-direction: column;
  }
  #title {
    background-color: white;
    color: black;
    flex-direction: row;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
  .flex-container > div {
    color: white;
    width: 100px;
    margin: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
  }
  

  .skibi {
    width: fit-content;
    padding: 10px;
    text-align: center;
    transform: scale(1.05);

  }
  .skibi:hover {
    background-color:rgba(241, 210, 225, 0.424);
    box-shadow: 0 4px 8px rgba(190, 94, 121, 0.602);
    transition: all 0.3s ease;
    transform: scale(1.10);

  }

  a {
    text-decoration: none; /* Removes underline */
    color: rgba(229,134,165,255);
  } 
  
  a:visited {
    color: rgba(192,90,125,255);
  }

.lightbox {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); /* Darken the background */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
  transition: transform 0.3s ease;
}

.lightbox .close, .lightbox .prev, .lightbox .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1001;
}

.lightbox .close {
  top: 10%;
  right: 10%;
}

.lightbox .prev {
  left: 5%;
}

.lightbox .next {
  right: 5%;
}

  
